{% extends 'base.html' %}

{% block title -%}
    About
{%- endblock %}

{% block body %}
    <p align="right"> "焼きそばは、豚肉と野菜を使っ<br>た日本の古典的な炒め麺料理で、<br>
    ウスターソースのような甘く香ばしい<br>ソースで味付けされています" <br> 陳奈美子
    </p>
    
    <br><br>
    
    <dl>
    <dt> 焼きそば </dt>
    <dd> やきそば）または日本の炒め麺は、1930年代に（=ソース）焼きそばとして登場し始め、50年代後半には駄菓子屋で人気のある子供のおやつでした。
    </dd>
    </dl>
    
    <p> それ以来、焼きそばは家庭や定食屋で調理され、日本の屋台料理のアイコンとなった。 鉄板を設置して食材を見つけるのが簡単なので、学校のイベントやお祭り、スナックなどで焼きそば屋台が人気です。
    </p>
    
    <h4>
    子供の頃の思い出＆焼きそばの種類
    </h4>
    

    
    <p><img src="{{url_for('static', filename='img/sadf.jpg')}}" class="rounded float-end h_image">私が日本で育ったとき、焼きそばはしばしば週末のランチメニューとして登場しました。 私の母と私は食材を準備し、私の家族は日本のホットプレート（ポータブル屋内グリドル）の周りに集まり、一緒に焼きそばを調理するために使用されます。 それは私の父のお気に入りの週末のランチでした。 夕食の料理にもなりますが、個人的にはいつも週末のランチメニューとして焼きそばを連想しています。

私の母は頻繁に調理法で使用される原料の上で変わる。 豚バラのスライスの代わりに、日本のソーセージと挽肉を使用することがあり、私のお気に入りは挽肉とイカ/イカの組み合わせでした。 私の母はまた、彼女の焼きそばのために中国のチャイブともやしを置くが、彼らは私の台所で私の"主食"ではないので、私は常にそれらを追加しません。

焼きそばはとても簡単に作ることができ、ほぼすべての食材を加えることができます。 シーフードとそれを試してみてください、または単純なベジタリアンスタイルは肉のない月曜日のために素晴ら
    </p>
    
    <br><br>
    
    <ol>
    
    <li>
        
        <h6>大きい調理器具を使用して下さい</h6>
        
        あなたの原料に熱い表面が付いている接触があるようにグリドルまたは大きい中華鍋のような大きい調理スペースがあることは重要である。 素敵なcharは素晴らしい味を追加し、それをより多くの"屋台の食べ物"の文字を与えます。

そのためには、あまりにも多くの食材を入れないでください。 あなたは麺を蒸したくありません。 あなたは蒸気を逃がす必要があるので、麺は濡れておらず、可能な限り乾燥してサクサクにすることが望ましいです。 あなたはスーパークリスピーヌードルを好む場合（私は私の麺は、いくつかの水分を持って好む）、最初に麺を炒め、それらを転送し、食材を調理を開始します。 そうすれば、後で麺を調理する必要はなく、麺はまだカリカリのままです。
    </li>
    <img src="{{url_for('static', filename='img/dafs.jpg')}}" class="rounded float-end h_image">
    
    <li>
        <h6> 硬い野菜を先に炒める </h6>
        
        私はいくつかの素敵な鮮明な質感を持っている私の野菜が好きで、すべてしおれていません。 柔らかい成分を加える前に、最初に調理するのに時間がかかる硬い野菜を炒め始めることが重要です。 料理番組を見て、誰がすべての食材を一度に鍋に入れるのかを見るのは私のペットのpeeveです。 私は各成分が最高の味のための好ましい調理時間を持っていると信じています。 😉
    </li>
    
    <li>
        <h6> 最初に麺を緩めます </h6>
        
        炒め物に加える前に、麺の鎖を緩めておくことをお勧めします。 そうしないと、麺を鉄板や中華鍋の小片に分割する可能性が最も高いでしょう。

私がお勧めするのは、あなたの手で麺を緩め、暖かい水の下で油を取り除くことです。 よく排水してから、炒め野菜と一緒に投げます。 麺はまだ十分な水分を持っていますが、過剰な水のために水浸しになることはありません。
    </li>
    
    </ol>
    
    <h4>
    焼きそば麺＆焼きそばソースを入手する場所
    </h4>
    
    <p>
    <img src="{{url_for('static', filename='img/qwer1.jpg')}}" class="rounded float-start h_image">
    "そば"とはそばのことを意味し、それは正しいことを知っている人がたくさんいます。 しかし、日本語のそばという言葉は、あらゆるタイプの麺を記述するために使用することもできます。 焼きそばの麺は蒸し中華麺（むしちゅうかめん）と呼ばれる。 小麦粉、かんすい、水で作られています。 麺の色は黄色ですが、卵麺ではなく、色はかんすいを使用した結果です。 焼きそばの麺は蒸してパッケージ化されているので、すぐに再加熱する準備ができています。 これらの麺の食感はラーメンの麺に似ています。
    人気の焼きそばブランド"明星"と"マルちゃん"は、どちらもそれぞれのパッケージに焼きそば麺が三つ入っています。 麺はすでに蒸し、油でコーティングされ、各パケットにしっかりと梱包されています。 私はMyojoブランドを使用することをお勧めします（上の写真を参照）。 マルちゃんは冷凍すると解凍するとバラバラになる傾向があります。 日本では、焼きそばは冷凍で販売されることはありませんが、これらの麺はあまり長くは続かないので、ここ米国では冷凍で販売されることがあります。

日本、韓国、中国の食料品店で購入することができ、冷蔵または冷凍庫のいずれかのセクションにあります。
    人気のオタフクブランドは焼きそばソースを提供していますが、私は実際には焼きそばソースをゼロから作るのが好きなので、毎回ソースを少し調整して焼きそばの味を変えることができます。

私の子供たちは、彼らが下の私のレシピよりも少し甘いようにソースを好む私に言った,しかし、私はあなたにそれを残して、より多くの砂糖を追加して自由に感じるでしょう.
    <img src="{{url_for('static', filename='img/q1.webp')}}" class="rounded float-end h_image">
    
    焼きそばソースを作るために

焼きそばソースのためのすべての材料を泡立て器。 ソースを味わい、砂糖を追加する必要があるかどうかを確認することが重要です。 たとえば、ケチャップの中には他のものよりも甘いものもあり、ウスターソースの中には他のものよりも酸味が少ないものもあります。 それを脇に置いてください。
焼きそば新1

焼きそばを作るために

玉ねぎは薄切りにし、にんじんは千切りにし、しいたけは薄切りにする。
焼きそば新2
ネギは2インチ（5cm）の部分に切り、キャベツは小さな一口の部分に切り、肉は1インチの部分に切ります。
焼きそば新3
フライパンや中華鍋では、中程度の高熱で油を加熱します。 もはやピンクになるまで肉を調理する。
焼きそば新4
タマネギとニンジンを加え、1-2分間煮る。
焼きそば新5
キャベツを加え、ほとんど柔らかくなるまで調理する。
焼きそば新6
最後に、ネギとしいたけを加えて1分煮る。 挽きたての黒コショウで味付けします。
焼きそば新7
焼きそばの麺をふるいに移し、すぐに焼きそばの麺の上にお湯を走らせる。 あなたの手で麺を分けてください。 フライパン/中華鍋に麺を追加し、媒体に熱を下げます。 麺と具材を組み合わせるには、トングを使用するのが最善です。 彼らはフライパン/中華鍋に固執することができるように麺に目を離さない。
焼きそば新8
焼きそばソースを加え、他の材料に基づいて使用するソースの量を調整します。 トングのペアを使用して、すべて一緒に混合し、プレートに転送します。 乾燥した緑の海藻と漬けられた赤い生姜を飾る。 すぐにサーブ。
焼きそば新9
    </p>
    
    <h6> 成分 </h6>
    
    <ul>
    <li> ½玉ねぎ </li>
    <li> にんじん1本 </li>
    <li> しいたけ3本 </li>
    <li> 長ネギ-ネギ2本 </li>
    <li> 4キャベツの葉 </li>
    <li> Lbスライス豚バラ肉（または肉/魚介類/キノコ/野菜のお好み） </li>
    <li> 大さじ2中性風味の油（野菜、米ぬか、キャノーラなど） ├挽きたて黒こしょう </li>
    <li> 3人前焼きそば麺（一つのパッケージは3人前、16-17オンスまたは454-480グラ ムの前蒸し麺が付属しています） </li>
    <li> 4-6焼きそばソース大さじ(以下のレシピ) </li>
    </ul>
    
    <h6> 成分
焼きそばソース </h6>
    <img src="{{url_for('static', filename='img/scs.jpg')}}" class="rounded float-end h_image">
    
    <ul>
    <li> ウスターソース大さじ4（日本ブランド"ブルドッグ"ウスターソース（、ウスターソース）は、ウスターソースよりもマイルドで酸味が少ない。 日本以外のブランドを使用する場合は、砂糖を追加してください） </li>
    <li> 4小さじオイスターソース(あなたは貝にアレルギーしている場合,またはあなたがベジタリアンなら,リー*クムキーベジタリアン炒めソースを使用) </li>
    <li> ケチャップ小さじ4 </li>
    <li> 醤油小さじ2 </li>
    <li> √2小さじ砂糖（必要に応じて、より多くの砂糖を追加します） </li>
    </ul>
    
    
    
{% endblock %}
